`PAIR PROGRAMMING INTRO ML`

Los objetivos de hoy son:
Buscar un conjunto de datos a analizar:
Es necesario que el conjunto de datos a analizar tenga variables numéricas y categóricas, primando que haya más de una variable de tipo numérico. Ya que tambien se utilizarán serán útiles a la hora de realizar predicciones en las clases de regresión lineal múltiple. Así mismo se recomienda que los datasets esten ligeramente limpios para facilidar los análisis.

In [1]:
import pandas as pd
import numpy as np
import sidetable
from datetime import datetime, timedelta
pd.options.display.max_columns= None

In [2]:
df= pd.read_csv('datos/automobile.csv')
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

## EDA

Explicar los datos y las variables disponibles en el conjunto de datos seleccionado:
Esto se hace para que comprendais mejor los datos con los que estais trabajando.
Realizar un EDA sencillo para la variable dependiente y la variable independiente.

In [3]:
df.info()

#Observamos que tenemos columnas categóricas y numéricas. Más adelante investigaremos si tenemos que hacer algun 
# tipo de casteo en las columnas para poder trabajar con ellas. 
# Por ahora, debemos estudiar la naturaleza de cada una.

#En cuanto a los nulos, tenemos solo una columna con nulos, pero no es un número significativo, una vez analicemos la columna, 
# deciriemos qué hacer con ellos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          202 non-null    int64
 1   normalized-losses  165 non-null    float64
 2   make               202 non-null    object
 3   fuel-type          202 non-null    object
 4   aspiration         202 non-null    object
 5   num-of-doors       200 non-null    object
 6   body-style         202 non-null    object
 7   drive-wheels       202 non-null    object
 8   engine-location    202 non-null    object
 9   wheel-base         202 non-null    float64
 10  length             202 non-null    float64
 11  width              202 non-null    float64
 12  height             202 non-null    float64
 13  curb-weight        202 non-null    int64
 14  engine-type        202 non-null    object
 15  num-of-cylinders   202 non-null    object
 16  engine-size        202 non-null    int64
 17  fuel-system        202 non-null    object
 18  bore               202 non-null    object
 19  stroke             202 non-null    object
 20  compression-ratio  202 non-null    float64
 21  horsepower         202 non-null    object
 22  peak-rpm           202 non-null    object
 23  city-mpg           202 non-null    int64
 24  highway-mpg        202 non-null    int64
 25  price              202 non-null    int64
dtypes: float64(6), int64(6), object(14)
memory usage: 41.2+ KB

> Nos hemos dado cuenta que algunas columnas son de tipo object, y nos interesa cambiarlas a tipo numérico para poder operar con ellas. 

- bore
- stroke
- horsepower 
- peak-rpm

In [5]:
df.select_dtypes(include='object')

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,horsepower,peak-rpm
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,111,5000
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,111,5000
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,2.68,3.47,154,5000
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi,3.19,3.4,102,5500
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi,3.19,3.4,115,5500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,160,5300
198,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi,3.58,2.87,134,5500
199,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi,3.01,3.4,106,4800
200,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,114,5400
201,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,114,5400

In [7]:
#Nos hemos dado cuenta de que tenemos valores '?' por lo que no podemos hacer un casteo. 
# Decidimos reemplazar esos valores por nulos para posteriormente cambiar el valor por la mediana

In [8]:
col_interr=list(df.columns)

for i in col_interr:
    df[i].replace('?', np.nan, inplace=True)

In [9]:
df[['bore','stroke','horsepower','peak-rpm']]=df[['bore','stroke','horsepower','peak-rpm']].astype(float, errors='ignore')

In [10]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [11]:
df[['bore','stroke','horsepower','peak-rpm']].describe().T  #Decidimos reemplazar los nulos de las columnas que acabamos de castear por la mediana, ya que es el valor más fiable por el que podemos reemplazar, 
# habiendo observado que la media y la mediana no coinciden en valores.

,count,mean,std,min,25%,50%,75%,max
bore,198.0,3.332980,0.271986,2.54,3.15,3.31,3.59,3.94
stroke,198.0,3.256364,0.318536,2.07,3.11,3.29,3.41,4.17
horsepower,200.0,103.450000,37.466870,48.00,70.00,95.00,116.00,262.00
peak-rpm,200.0,5119.000000,479.728776,4150.00,4800.00,5200.00,5500.00,6600.00

In [12]:
df.isnull().sum()

symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [13]:
col_nan=['bore','stroke','horsepower','peak-rpm','normalized-losses']

In [14]:
for i in col_nan:
    mediana=df[i].median()
    df[i]=df[i].fillna(mediana)

In [15]:
df.isnull().sum()  #Ya on tenemos nulos en las variables categóricas con nulos

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

> Investigamos las columnas para decidir cuáles nos interesan para nuetsra predicción de la variable respuesta

In [17]:
df_categoricas=df.select_dtypes(include='object')
df_categoricas

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...,...
197,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
198,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
199,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
200,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
201,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

*Categóricas*

- make: Marca del coche
  
- fuel-type: Tipo de combustible
  
- aspiration: Si el motor es turbo o de aspiración natural(motor convencional). Hacr referencia al funcionamiento del motor con el combustible.
  
- num-of-doors: Número de puertas
  
- body-style: Forma del coche
  
- drive-wheels: Qué ruedas transmiten la fuerza al vehículo (delanteras, traseras o 4x4)

- engine-location: Localización del motor
  
- engine-type: Tipo de motor
  
- num-of-cylinders: Número de cilindros (cilindrada). No nos interesa castearlo porque son valores de los que no vamos a sacar la media, sino la frecuencia si lo encontramos interesante. 
  
- fuel-system: Combinación de partes necesarias para que el combustible entre en el motor.

In [ ]:
df_numericas=df.select_dtypes(include='number')
df_numericas

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,115.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,-1,95.0,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,-1,95.0,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,-1,95.0,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,-1,95.0,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114.0,5400.0,19,25,22625
201,-1,95.0,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114.0,5400.0,19,25,22625

*Numéricas*

- symboling: Si el cohe es seguro o no, cuanto más alto sea el número más arriesgado es. 
  
- normalized-losses: La pérdida media al año que puede puede perder el coche asegurado. 
  
- wheel-base: Distancia entre las ruedas delanteras y traseras.
  
- lenght: Longitud del coche
  
- width: Ancho del coche 
  
- height: Altura del coche
  
- curb-weight: Peso del coche contando con el depósito lleno y el equipamiento de base del coche. 
  
- engine-size: Tamaño del motor
  
- bore: Diámetro de cada cilindro del motor.

- stroke: Una fase del ciclo del motor.

- compression-ratio: Número que permite medir la proporción en volumen, del aire que se ha comprimido dentro de la cámara de combustión de un cilindro. 

- horsepower: Caballos

- peak-rpm: Revoluciones por minuto

- city-mpg: Kilómetros por minuto en ciudad.

- highway-mpg: Kilómetros por minuto en otras carreteras. 

- price: Precio del coche

>Hemos decidido quedarnos con las siguientes columnas para predecir el precio, ya que queremos estudiar aquellas características que una persona podría mirar a la hora de comprarse un coche.

*Categóricas*

- make: Marca del coche
  
- fuel-type: Tipo de combustible
  
- aspiration: Si el motor es turbo o de aspiración natural(motor convencional). Hacr referencia al funcionamiento del motor con el combustible.
  
- num-of-doors: Número de puertas
  
- body-style: Forma del coche
  
- drive-wheels: Qué ruedas transmiten la fuerza al vehículo (delanteras, traseras o 4x4)

- engine-location: Localización del motor
  
- num-of-cylinders: Número de cilindros (cilindrada). No nos interesa castearlo porque son valores de los que no vamos a sacar la media, sino la frecuencia si lo encontramos interesante. 
  

*Numéricas*
  
- wheel-base: Distancia entre las ruedas delanteras y traseras.
  
- lenght: Longitud del coche
  
- width: Ancho del coche 
  
- height: Altura del coche
  
- curb-weight: Peso del coche contando con el depósito lleno y el equipamiento de base del coche. 

- horsepower: Caballos

- peak-rpm: Revoluciones por minuto

- city-mpg: Kilómetros por minuto en ciudad.

- highway-mpg: Kilómetros por minuto en otras carreteras. 

- price: Precio del coche

In [23]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [25]:
df.drop(df[['symboling', 'normalized-losses', 'engine-type', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio']], axis=1, inplace=True)

In [27]:
df.head(2)

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,four,111.0,5000.0,21,27,13495
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,four,111.0,5000.0,21,27,16500
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,six,154.0,5000.0,19,26,16500
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,four,102.0,5500.0,24,30,13950
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,five,115.0,5500.0,18,22,17450

>Establecemos como variable respuesta, nuestra columna PRICE.

In [28]:
df.to_csv('datos/coches_EDA.csv')