En el pair programming de hoy usaremos el set de datos que guardastéis en el pair programming de normalización y estandarización.

Vuestro set de datos debería tener al menos una variable categórica, el objetivo del pair programming de hoy:

- Hacer una códificación de la/las variables categóricas que tengáis en vuestro set de datos.

- Recordad que lo primero que deberéis hacer es decidir su vuestras variables tienen o no orden, para que en función de esto uséis una aproximación u otra.

- Guardad el dataframe, donde deberíais tener las variables estadandarizas, normalizadas y codificadas en un csv para usarlo en el próximo pairprogramming

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder # para realizar el Label Encoding 
from sklearn.preprocessing import OneHotEncoder  # para realizar el One-Hot Encoding
from sklearn.preprocessing import OrdinalEncoder

import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [2]:
df=pd.read_csv('./datos/coches_estandarizacion.csv', index_col=0)
df.head(1)

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price_BOX
0,alfa-romero,gas,std,two,convertible,rwd,front,-1.063291,-0.263473,-0.518519,-1.514286,0.172709,four,0.347826,-0.285714,-0.272727,-0.333333,1.611061

*Categóricas*

- make: Marca del coche - ordinal 
  
- fuel-type: Tipo de combustible - binario 
  
- aspiration: Si el motor es turbo o de aspiración natural(motor convencional). Hacr referencia al funcionamiento del motor con el combustible. - binario 
  
- num-of-doors: Número de puertas - categorias
  
- body-style: Forma del coche - nominal 
  
- drive-wheels: Qué ruedas transmiten la fuerza al vehículo (delanteras, traseras o 4x4) - nominal

- engine-location: Localización del motor - nominal
  
- num-of-cylinders: Número de cilindros (cilindrada). No nos interesa castearlo porque son valores de los que no vamos a sacar la media, sino la frecuencia si lo encontramos interesante. - categorias

In [3]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [4]:
categoricas=df.select_dtypes(include='O')
categoricas

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,num-of-cylinders
0,alfa-romero,gas,std,two,convertible,rwd,front,four
1,alfa-romero,gas,std,two,convertible,rwd,front,four
2,alfa-romero,gas,std,two,hatchback,rwd,front,six
3,audi,gas,std,four,sedan,fwd,front,four
4,audi,gas,std,four,sedan,4wd,front,five
...,...,...,...,...,...,...,...,...
197,volvo,gas,turbo,four,sedan,rwd,front,four
198,volvo,gas,std,four,sedan,rwd,front,six
199,volvo,diesel,turbo,four,sedan,rwd,front,six
200,volvo,gas,turbo,four,sedan,rwd,front,four
201,volvo,gas,turbo,four,sedan,rwd,front,four

In [5]:
df['num-of-doors'].unique()

array(['two', 'four', nan], dtype=object)

In [6]:
mapa={'two': 2 ,'four': 4}

In [7]:
df['num-of-doors']=df['num-of-doors'].map(mapa)

In [8]:
mapa1={'four':4, 'six':6, 'five':5, 'three':3, 'twelve':12, 'two':2, 'eight':8 }

In [9]:
df['num-of-cylinders']=df['num-of-cylinders'].map(mapa1)

In [10]:
df['num-of-doors'] = df ['num-of-doors'].astype('category')

In [11]:
df['num-of-cylinders']= df['num-of-cylinders'].astype('category')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202 entries, 0 to 201
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              202 non-null    object
 1   fuel-type         202 non-null    object
 2   aspiration        202 non-null    object
 3   num-of-doors      200 non-null    category
 4   body-style        202 non-null    object
 5   drive-wheels      202 non-null    object
 6   engine-location   202 non-null    object
 7   wheel-base        202 non-null    float64
 8   length            202 non-null    float64
 9   width             202 non-null    float64
 10  height            202 non-null    float64
 11  curb-weight       202 non-null    float64
 12  num-of-cylinders  202 non-null    category
 13  horsepower        202 non-null    float64
 14  peak-rpm          202 non-null    float64
 15  city-mpg          202 non-null    float64
 16  highway-mpg       202 non-null    float64
 17  price_BOX         202 non-null    float64
dtypes: category(2), float64(10), object(6)
memory usage: 27.7+ KB

In [13]:
categoricas.columns

Index(['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style',
       'drive-wheels', 'engine-location', 'num-of-cylinders'],
      dtype='object')

In [14]:
categoricas=df.select_dtypes(include='O')
categoricas

,make,fuel-type,aspiration,body-style,drive-wheels,engine-location
0,alfa-romero,gas,std,convertible,rwd,front
1,alfa-romero,gas,std,convertible,rwd,front
2,alfa-romero,gas,std,hatchback,rwd,front
3,audi,gas,std,sedan,fwd,front
4,audi,gas,std,sedan,4wd,front
...,...,...,...,...,...,...
197,volvo,gas,turbo,sedan,rwd,front
198,volvo,gas,std,sedan,rwd,front
199,volvo,diesel,turbo,sedan,rwd,front
200,volvo,gas,turbo,sedan,rwd,front
201,volvo,gas,turbo,sedan,rwd,front

> Ordinal enconding para la columna 'make'

In [15]:
precio_marca= df.groupby('make')['price_BOX'].agg(['median', 'max', 'min']).sort_values(by= 'median').reset_index()
precio_marca

             make    median       max       min
0       chevrolet  1.608356  1.608547  1.607405
1           honda  1.608983  1.610944  1.607639
2           dodge  1.609152  1.610949  1.607792
3        plymouth  1.609152  1.610904  1.607792
4          subaru  1.609295  1.610646  1.607373
5          nissan  1.609405  1.611998  1.607728
6      mitsubishi  1.609575  1.611323  1.607630
7           isuzu  1.609576  1.610470  1.608682
8          toyota  1.609823  1.611751  1.607592
9         renault  1.610004  1.610112  1.609897
10     volkswagen  1.610056  1.611132  1.609237
11          mazda  1.610337  1.611838  1.607448
12           saab  1.611392  1.611872  1.610686
13    alfa-romero  1.611586  1.611586  1.611061
14        mercury  1.611587  1.611587  1.611587
15         peugot  1.611605  1.611813  1.610698
16           audi  1.611739  1.612396  1.611153
17          volvo  1.611879  1.612289  1.610943
18            bmw  1.612298  1.613303  1.611576
19  mercedes-benz  1.612961  1.613430  1.612526
20        porsche  1.612981  1.613145  1.612234
21         jaguar  1.613084  1.613103  1.612931

In [16]:
#guardamas el orden de las marcas en una lista, ordenadas por su mediana
orden_valores= list(precio_marca['make'])
orden_valores

['chevrolet',
 'honda',
 'dodge',
 'plymouth',
 'subaru',
 'nissan',
 'mitsubishi',
 'isuzu',
 'toyota',
 'renault',
 'volkswagen',
 'mazda',
 'saab',
 'alfa-romero',
 'mercury',
 'peugot',
 'audi',
 'volvo',
 'bmw',
 'mercedes-benz',
 'porsche',
 'jaguar']

In [17]:
def ordinal_encoder1(df, columna, orden_valores):
    
    # iniciamos el método y aplicamos la transformación a los datos. 
    ordinal = OrdinalEncoder(categories = [orden_valores], dtype = int)

    transformados_oe = ordinal.fit_transform(df[[columna]])
    
    # lo convertimos a dataframe
    oe_df = pd.DataFrame(transformados_oe)
    # cambiamos el nombre de la columna
    oe_df.columns = ordinal.feature_names_in_

    columna += "_oe"
    
    # sobre escribimos la columna con los valores de la tranformación
    df[columna] = oe_df
     
    return df

In [18]:
df = ordinal_encoder1(df, 'make', orden_valores)
df.head()

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price_BOX,make_oe
0,alfa-romero,gas,std,2.0,convertible,rwd,front,-1.063291,-0.263473,-0.518519,-1.514286,0.172709,4,0.347826,-0.285714,-0.272727,-0.333333,1.611061,13
1,alfa-romero,gas,std,2.0,convertible,rwd,front,-1.063291,-0.263473,-0.518519,-1.514286,0.172709,4,0.347826,-0.285714,-0.272727,-0.333333,1.611586,13
2,alfa-romero,gas,std,2.0,hatchback,rwd,front,-0.316456,-0.119760,0.000000,-0.485714,0.535267,6,1.282609,-0.285714,-0.454545,-0.444444,1.611586,13
3,audi,gas,std,4.0,sedan,fwd,front,0.354430,0.203593,0.259259,0.057143,-0.105471,4,0.152174,0.428571,0.000000,0.000000,1.611153,16
4,audi,gas,std,4.0,sedan,4wd,front,0.303797,0.203593,0.333333,0.057143,0.536585,5,0.434783,0.428571,-0.545455,-0.888889,1.611721,16

> Label enconding para la columna Fuel-type y aspiration

In [19]:
#The above code is converting the fuel-type column into a numerical value.
le = LabelEncoder()

df['Fuel_le']=le.fit_transform(df['fuel-type'])

In [20]:
le = LabelEncoder()

df['aspiration_le']=le.fit_transform(df['aspiration'])

> Aplicamos get-dummies para las columnas body-style, drive-wheels, engine-location porque son nominales

In [21]:
dummies = pd.get_dummies(df[["body-style",'drive-wheels', 'engine-location']], prefix_sep = "_", prefix = ["body_style",'drive-wheels', 'engine-location'], dtype = int)
dummies.head(2)

,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd,engine-location_front,engine-location_rear
0,1,0,0,0,0,0,0,1,1,0
1,1,0,0,0,0,0,0,1,1,0

In [22]:
df_dummies = pd.concat([df, dummies], axis = 1)
df_dummies.head(2)

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price_BOX,make_oe,Fuel_le,aspiration_le,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd,engine-location_front,engine-location_rear
0,alfa-romero,gas,std,2.0,convertible,rwd,front,-1.063291,-0.263473,-0.518519,-1.514286,0.172709,4,0.347826,-0.285714,-0.272727,-0.333333,1.611061,13,1,0,1,0,0,0,0,0,0,1,1,0
1,alfa-romero,gas,std,2.0,convertible,rwd,front,-1.063291,-0.263473,-0.518519,-1.514286,0.172709,4,0.347826,-0.285714,-0.272727,-0.333333,1.611586,13,1,0,1,0,0,0,0,0,0,1,1,0

In [23]:
df_dummies_completo= df_dummies.copy()

In [24]:
df_dummies.columns

Index(['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style',
       'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width',
       'height', 'curb-weight', 'num-of-cylinders', 'horsepower', 'peak-rpm',
       'city-mpg', 'highway-mpg', 'price_BOX', 'make_oe', 'Fuel_le',
       'aspiration_le', 'body_style_convertible', 'body_style_hardtop',
       'body_style_hatchback', 'body_style_sedan', 'body_style_wagon',
       'drive-wheels_4wd', 'drive-wheels_fwd', 'drive-wheels_rwd',
       'engine-location_front', 'engine-location_rear'],
      dtype='object')

In [25]:
df_dummies= df_dummies.drop(['make','fuel-type','aspiration','body-style','drive-wheels','engine-location'], axis= 1 )

In [26]:
df_dummies.head()

,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price_BOX,make_oe,Fuel_le,aspiration_le,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd,engine-location_front,engine-location_rear
0,2.0,-1.063291,-0.263473,-0.518519,-1.514286,0.172709,4,0.347826,-0.285714,-0.272727,-0.333333,1.611061,13,1,0,1,0,0,0,0,0,0,1,1,0
1,2.0,-1.063291,-0.263473,-0.518519,-1.514286,0.172709,4,0.347826,-0.285714,-0.272727,-0.333333,1.611586,13,1,0,1,0,0,0,0,0,0,1,1,0
2,2.0,-0.316456,-0.119760,0.000000,-0.485714,0.535267,6,1.282609,-0.285714,-0.454545,-0.444444,1.611586,13,1,0,0,0,1,0,0,0,0,1,1,0
3,4.0,0.354430,0.203593,0.259259,0.057143,-0.105471,4,0.152174,0.428571,0.000000,0.000000,1.611153,16,1,0,0,0,0,1,0,0,1,0,1,0
4,4.0,0.303797,0.203593,0.333333,0.057143,0.536585,5,0.434783,0.428571,-0.545455,-0.888889,1.611721,16,1,0,0,0,0,1,0,1,0,0,1,0

In [27]:
df_dummies_completo.to_csv('datos/coches_encoding_categoricas.csv')
df_dummies.to_csv('datos/coches_encoding_final.csv')