En el pair programming de hoy usaremos el set de datos que guardastéis en el pair programming de normalización y estandarización.

Vuestro set de datos debería tener al menos una variable categórica, el objetivo del pair programming de hoy:

- Hacer una códificación de la/las variables categóricas que tengáis en vuestro set de datos.

- Recordad que lo primero que deberéis hacer es decidir su vuestras variables tienen o no orden, para que en función de esto uséis una aproximación u otra.

- Guardad el dataframe, donde deberíais tener las variables estadandarizas, normalizadas y codificadas en un csv para usarlo en el próximo pairprogramming

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder # para realizar el Label Encoding 
from sklearn.preprocessing import OneHotEncoder  # para realizar el One-Hot Encoding

import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [4]:
df=pd.read_csv('./datos/coches_normalizacion.csv', index_col=0)
df.head(1)

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price,price_BOX
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,four,111.0,5000.0,21,27,13495,1.611061

*Categóricas*

- make: Marca del coche - ordinal 
  
- fuel-type: Tipo de combustible - binario 
  
- aspiration: Si el motor es turbo o de aspiración natural(motor convencional). Hacr referencia al funcionamiento del motor con el combustible. - binario 
  
- num-of-doors: Número de puertas - ordinal
  
- body-style: Forma del coche - nominal 
  
- drive-wheels: Qué ruedas transmiten la fuerza al vehículo (delanteras, traseras o 4x4) - nominal

- engine-location: Localización del motor - binario
  
- num-of-cylinders: Número de cilindros (cilindrada). No nos interesa castearlo porque son valores de los que no vamos a sacar la media, sino la frecuencia si lo encontramos interesante. - ordinal

In [20]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [6]:
categoricas=df.select_dtypes(include='O')
categoricas

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,num-of-cylinders
0,alfa-romero,gas,std,two,convertible,rwd,front,four
1,alfa-romero,gas,std,two,convertible,rwd,front,four
2,alfa-romero,gas,std,two,hatchback,rwd,front,six
3,audi,gas,std,four,sedan,fwd,front,four
4,audi,gas,std,four,sedan,4wd,front,five
...,...,...,...,...,...,...,...,...
197,volvo,gas,turbo,four,sedan,rwd,front,four
198,volvo,gas,std,four,sedan,rwd,front,six
199,volvo,diesel,turbo,four,sedan,rwd,front,six
200,volvo,gas,turbo,four,sedan,rwd,front,four
201,volvo,gas,turbo,four,sedan,rwd,front,four

In [16]:
df['num-of-doors'].unique()

array(['two', 'four', nan], dtype=object)

In [17]:
mapa={'two': 2 ,'four': 4}

In [18]:
df['num-of-doors']=df['num-of-doors'].map(mapa)

In [21]:
mapa1={'four':4, 'six':6, 'five':5, 'three':3, 'twelve':12, 'two':2, 'eight':8 }

In [22]:
df['num-of-cylinders']=df['num-of-cylinders'].map(mapa1)

In [8]:
categoricas.columns

Index(['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style',
       'drive-wheels', 'engine-location', 'num-of-cylinders'],
      dtype='object')

In [24]:
categoricas=df.select_dtypes(include='O')
categoricas

,make,fuel-type,aspiration,body-style,drive-wheels,engine-location
0,alfa-romero,gas,std,convertible,rwd,front
1,alfa-romero,gas,std,convertible,rwd,front
2,alfa-romero,gas,std,hatchback,rwd,front
3,audi,gas,std,sedan,fwd,front
4,audi,gas,std,sedan,4wd,front
...,...,...,...,...,...,...
197,volvo,gas,turbo,sedan,rwd,front
198,volvo,gas,std,sedan,rwd,front
199,volvo,diesel,turbo,sedan,rwd,front
200,volvo,gas,turbo,sedan,rwd,front
201,volvo,gas,turbo,sedan,rwd,front