En el pair programming de hoy usaremos el set de datos que guardastéis en el pair programming de normalización y estandarización.

Vuestro set de datos debería tener al menos una variable categórica, el objetivo del pair programming de hoy:

- Hacer una códificación de la/las variables categóricas que tengáis en vuestro set de datos.

- Recordad que lo primero que deberéis hacer es decidir su vuestras variables tienen o no orden, para que en función de esto uséis una aproximación u otra.

- Guardad el dataframe, donde deberíais tener las variables estadandarizas, normalizadas y codificadas en un csv para usarlo en el próximo pairprogramming

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder # para realizar el Label Encoding 
from sklearn.preprocessing import OneHotEncoder  # para realizar el One-Hot Encoding
from sklearn.preprocessing import OrdinalEncoder

import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [2]:
df=pd.read_csv('./datos/coches_estandarizacion.csv', index_col=0)
df.head(1)

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,-1.063291,-0.263473,-0.518519,-1.514286,0.172709,four,0.347826,-0.285714,-0.272727,-0.333333,13495

*Categóricas*

- make: Marca del coche - ordinal 
  
- fuel-type: Tipo de combustible - binario 
  
- aspiration: Si el motor es turbo o de aspiración natural(motor convencional). Hacr referencia al funcionamiento del motor con el combustible. - binario 
  
- num-of-doors: Número de puertas - categorias
  
- body-style: Forma del coche - nominal 
  
- drive-wheels: Qué ruedas transmiten la fuerza al vehículo (delanteras, traseras o 4x4) - nominal

- engine-location: Localización del motor - nominal
  
- num-of-cylinders: Número de cilindros (cilindrada). No nos interesa castearlo porque son valores de los que no vamos a sacar la media, sino la frecuencia si lo encontramos interesante. - categorias

In [3]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [4]:
categoricas=df.select_dtypes(include='O')
categoricas

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,num-of-cylinders
0,alfa-romero,gas,std,two,convertible,rwd,front,four
1,alfa-romero,gas,std,two,convertible,rwd,front,four
2,alfa-romero,gas,std,two,hatchback,rwd,front,six
3,audi,gas,std,four,sedan,fwd,front,four
4,audi,gas,std,four,sedan,4wd,front,five
...,...,...,...,...,...,...,...,...
197,volvo,gas,turbo,four,sedan,rwd,front,four
198,volvo,gas,std,four,sedan,rwd,front,six
199,volvo,diesel,turbo,four,sedan,rwd,front,six
200,volvo,gas,turbo,four,sedan,rwd,front,four
201,volvo,gas,turbo,four,sedan,rwd,front,four

In [5]:
df['num-of-doors'].unique()

array(['two', 'four', nan], dtype=object)

In [6]:
mapa={'two': 2 ,'four': 4}

In [7]:
df['num-of-doors']=df['num-of-doors'].map(mapa)

In [8]:
mapa1={'four':4, 'six':6, 'five':5, 'three':3, 'twelve':12, 'two':2, 'eight':8 }

In [9]:
df['num-of-cylinders']=df['num-of-cylinders'].map(mapa1)

In [10]:
df['num-of-doors'] = df ['num-of-doors'].astype('category')

In [11]:
df['num-of-cylinders']= df['num-of-cylinders'].astype('category')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202 entries, 0 to 201
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              202 non-null    object
 1   fuel-type         202 non-null    object
 2   aspiration        202 non-null    object
 3   num-of-doors      200 non-null    category
 4   body-style        202 non-null    object
 5   drive-wheels      202 non-null    object
 6   engine-location   202 non-null    object
 7   wheel-base        202 non-null    float64
 8   length            202 non-null    float64
 9   width             202 non-null    float64
 10  height            202 non-null    float64
 11  curb-weight       202 non-null    float64
 12  num-of-cylinders  202 non-null    category
 13  horsepower        202 non-null    float64
 14  peak-rpm          202 non-null    float64
 15  city-mpg          202 non-null    float64
 16  highway-mpg       202 non-null    float64
 17  price             202 non-null    int64
dtypes: category(2), float64(9), int64(1), object(6)
memory usage: 27.7+ KB

In [13]:
categoricas.columns

Index(['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style',
       'drive-wheels', 'engine-location', 'num-of-cylinders'],
      dtype='object')

In [14]:
categoricas=df.select_dtypes(include='O')
categoricas

,make,fuel-type,aspiration,body-style,drive-wheels,engine-location
0,alfa-romero,gas,std,convertible,rwd,front
1,alfa-romero,gas,std,convertible,rwd,front
2,alfa-romero,gas,std,hatchback,rwd,front
3,audi,gas,std,sedan,fwd,front
4,audi,gas,std,sedan,4wd,front
...,...,...,...,...,...,...
197,volvo,gas,turbo,sedan,rwd,front
198,volvo,gas,std,sedan,rwd,front
199,volvo,diesel,turbo,sedan,rwd,front
200,volvo,gas,turbo,sedan,rwd,front
201,volvo,gas,turbo,sedan,rwd,front

> Ordinal enconding para la columna 'make'

In [15]:
precio_marca= df.groupby('make')['price'].agg(['median', 'max', 'min']).sort_values(by= 'median').reset_index()
precio_marca

             make   median    max    min
0       chevrolet   6295.0   6575   5151
1           honda   7295.0  12945   5399
2           dodge   7609.0  12964   5572
3        plymouth   7609.0  12764   5572
4          subaru   7894.0  11694   5118
5          nissan   8124.0  19699   5499
6      mitsubishi   8499.0  14869   5389
7           isuzu   8916.5  11048   6785
8          toyota   9103.0  17669   5348
9         renault   9595.0   9895   9295
10     volkswagen   9737.5  13845   7775
11          mazda  10595.0  18344   5195
12           saab  15275.0  18620  11850
13    alfa-romero  16500.0  16500  13495
14        mercury  16503.0  16503  16503
15         peugot  16630.0  18150  11900
16           audi  17580.0  23875  13950
17          volvo  18685.0  22625  12940
18            bmw  22835.0  41315  16430
19  mercedes-benz  32892.0  45400  25552
20        porsche  33278.0  37028  22018
21         jaguar  35550.0  36000  32250

In [16]:
#guardamas el orden de las marcas en una lista, ordenadas por su mediana
orden_valores= list(precio_marca['make'])
orden_valores

['chevrolet',
 'honda',
 'dodge',
 'plymouth',
 'subaru',
 'nissan',
 'mitsubishi',
 'isuzu',
 'toyota',
 'renault',
 'volkswagen',
 'mazda',
 'saab',
 'alfa-romero',
 'mercury',
 'peugot',
 'audi',
 'volvo',
 'bmw',
 'mercedes-benz',
 'porsche',
 'jaguar']

In [17]:
def ordinal_encoder1(df, columna, orden_valores):
    
    # iniciamos el método y aplicamos la transformación a los datos. 
    ordinal = OrdinalEncoder(categories = [orden_valores], dtype = int)

    transformados_oe = ordinal.fit_transform(df[[columna]])
    
    # lo convertimos a dataframe
    oe_df = pd.DataFrame(transformados_oe)
    # cambiamos el nombre de la columna
    oe_df.columns = ordinal.feature_names_in_

    columna += "_oe"
    
    # sobre escribimos la columna con los valores de la tranformación
    df[columna] = oe_df
     
    return df

In [18]:
df = ordinal_encoder1(df, 'make', orden_valores)
df.head()

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price,make_oe
0,alfa-romero,gas,std,2.0,convertible,rwd,front,-1.063291,-0.263473,-0.518519,-1.514286,0.172709,4,0.347826,-0.285714,-0.272727,-0.333333,13495,13
1,alfa-romero,gas,std,2.0,convertible,rwd,front,-1.063291,-0.263473,-0.518519,-1.514286,0.172709,4,0.347826,-0.285714,-0.272727,-0.333333,16500,13
2,alfa-romero,gas,std,2.0,hatchback,rwd,front,-0.316456,-0.119760,0.000000,-0.485714,0.535267,6,1.282609,-0.285714,-0.454545,-0.444444,16500,13
3,audi,gas,std,4.0,sedan,fwd,front,0.354430,0.203593,0.259259,0.057143,-0.105471,4,0.152174,0.428571,0.000000,0.000000,13950,16
4,audi,gas,std,4.0,sedan,4wd,front,0.303797,0.203593,0.333333,0.057143,0.536585,5,0.434783,0.428571,-0.545455,-0.888889,17450,16

> Label enconding para la columna Fuel-type y aspiration

In [20]:
#The above code is converting the fuel-type column into a numerical value.
le = LabelEncoder()

df['Fuel_le']=le.fit_transform(df['fuel-type'])

In [21]:
le = LabelEncoder()

df['aspiration_le']=le.fit_transform(df['aspiration'])