`PAIR PROGRAMMING INTRO ML`

Los objetivos de hoy son:
Buscar un conjunto de datos a analizar:
Es necesario que el conjunto de datos a analizar tenga variables numéricas y categóricas, primando que haya más de una variable de tipo numérico. Ya que tambien se utilizarán serán útiles a la hora de realizar predicciones en las clases de regresión lineal múltiple. Así mismo se recomienda que los datasets esten ligeramente limpios para facilidar los análisis.

In [117]:
import pandas as pd
import numpy as np
import sidetable
from datetime import datetime, timedelta
pd.options.display.max_columns= None

In [131]:
df1= pd.read_csv('./beginner_datasets/bank.csv')
df1.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [120]:
df= pd.read_csv('international_matches.csv')
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,tournament,city,country,neutral_location,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,1,FIFA World Cup qualification,La Paz,Bolivia,False,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,1,Friendly,Maceió,Brazil,False,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,0,FIFA World Cup qualification,Quito,Ecuador,False,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,0,Friendly,Conakry,Guinea,False,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,3,FIFA World Cup qualification,Asunción,Paraguay,False,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
df.tournament.unique()

array(['FIFA World Cup qualification', 'Friendly',
       'African Cup of Nations qualification', 'Amílcar Cabral Cup',
       'CFU Caribbean Cup qualification',
       'United Arab Emirates Friendship Tournament',
       'Malta International Tournament', 'Lunar New Year Cup',
       'African Cup of Nations', 'CFU Caribbean Cup',
       'UEFA Euro qualification', 'Kirin Cup', 'FIFA World Cup',
       'Oceania Nations Cup qualification', 'Baltic Cup', 'Gulf Cup',
       'Simba Tournament', 'CECAFA Cup', 'Confederations Cup',
       'Dynasty Cup', "King's Cup", 'Nehru Cup', 'SAFF Cup',
       'Copa Paz del Chaco', 'Korea Cup', 'USA Cup', 'Copa América',
       'Merdeka Tournament', 'South Pacific Games', 'UNCAF Cup',
       'Oceania Nations Cup', 'Windward Islands Tournament', 'Gold Cup',
       'AFC Asian Cup qualification', 'UEFA Euro', 'AFF Championship',
       'AFC Asian Cup', 'King Hassan II Tournament',
       'Cyprus International Tournament', 'Dunhill Cup',
       'COSAFA Cup qualification', 'COSAFA Cup', 'Tournoi de France',
       'Gold Cup qualification', 'SKN Football Festival',
       'Arab Cup qualification', 'Arab Cup', 'UNIFFAC Cup',
       'Nordic Championship', 'WAFF Championship', 'Millennium Cup',
       'Cup of Ancient Civilizations', "Prime Minister's Cup",
       'EAFF Championship', 'TIFOCO Tournament', 'Afro-Asian Games',
       'AFC Challenge Cup', 'Copa del Pacífico',
       'AFC Challenge Cup qualification', 'African Nations Championship',
       'VFF Cup', 'Dragon Cup', 'Nile Basin Tournament', 'Nations Cup',
       'Copa Confraternidad', 'Pacific Games',
       'Superclásico de las Américas', 'ABCS Tournament',
       'Kirin Challenge Cup', 'OSN Cup', 'Copa América qualification',
       'Pacific Mini Games', 'Intercontinental Cup',
       'AFF Championship qualification', 'UEFA Nations League',
       'CONCACAF Nations League qualification',
       'African Nations Championship qualification',
       'CONCACAF Nations League', 'Three Nations Cup',
       'Mahinda Rajapaksa Cup', 'Navruz Cup',
       'CONMEBOL–UEFA Cup of Champions'], dtype=object)

In [122]:
df.duplicated().sum()

0

Explicar los datos y las variables disponibles en el conjunto de datos seleccionado:
Esto se hace para que comprendais mejor los datos con los que estais trabajando.
Realizar un EDA sencillo para la variable dependiente y la variable independiente.

EDA

Primero vamos a ver que variables categoricas tenemos

In [102]:
categoricas= df.select_dtypes(include= 'O')
categoricas.sample(2)

,date,home_team,away_team,home_team_continent,away_team_continent,tournament,city,country,shoot_out,home_team_result
10748,2007-09-09,Eswatini,Eritrea,Africa,Africa,African Cup of Nations qualification,Manzini,Eswatini,No,Draw
4340,2000-03-25,Malaysia,Chinese Taipei,Asia,Asia,AFC Asian Cup qualification,Kuala Lumpur,Malaysia,No,Win

In [103]:
# vamos a transformar date a tipo fecha
df['date'].apply(pd.to_datetime)

0       1993-08-08
1       1993-08-08
2       1993-08-08
3       1993-08-08
4       1993-08-08
           ...
23916   2022-06-14
23917   2022-06-14
23918   2022-06-14
23919   2022-06-14
23920   2022-06-14
Name: date, Length: 23921, dtype: datetime64[ns]

Vamos a ver que variables numericas tenemos:

In [104]:
numericas= df.select_dtypes(include= ('int64', 'float64'))
numericas.sample(2)

,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
21756,113,37,1176,1470,0,0,NaN,74.0,NaN,68.3,NaN,72.5,73.0,78.5
21077,48,14,1425,1560,3,3,82.0,75.0,74.5,75.7,76.5,78.0,80.7,78.0

In [113]:
df.columns

Index(['date', 'home_team', 'away_team', 'home_team_continent',
       'away_team_continent', 'home_team_fifa_rank', 'away_team_fifa_rank',
       'home_team_total_fifa_points', 'away_team_total_fifa_points',
       'home_team_score', 'away_team_score', 'tournament', 'city', 'country',
       'neutral_location', 'shoot_out', 'home_team_result',
       'home_team_goalkeeper_score', 'away_team_goalkeeper_score',
       'home_team_mean_defense_score', 'home_team_mean_offense_score',
       'home_team_mean_midfield_score', 'away_team_mean_defense_score',
       'away_team_mean_offense_score', 'away_team_mean_midfield_score'],
      dtype='object')

In [114]:
lista_columnas_nulos= ['away_team_mean_defense_score','home_team_mean_defense_score', 'away_team_mean_midfield_score', 'away_team_goalkeeper_score','home_team_mean_midfield_score','away_team_mean_offense_score', 'home_team_goalkeeper_score', 'home_team_mean_offense_score' ]

In [105]:
df.stb.missing()

                               missing  total    percent
away_team_mean_defense_score     16357  23921  68.379248
home_team_mean_defense_score     16134  23921  67.447013
away_team_mean_midfield_score    15942  23921  66.644371
away_team_goalkeeper_score       15826  23921  66.159441
home_team_mean_midfield_score    15759  23921  65.879353
away_team_mean_offense_score     15609  23921  65.252289
home_team_goalkeeper_score       15542  23921  64.972200
home_team_mean_offense_score     15411  23921  64.424564
country                              0  23921   0.000000
home_team_result                     0  23921   0.000000
shoot_out                            0  23921   0.000000
neutral_location                     0  23921   0.000000
date                                 0  23921   0.000000
home_team                            0  23921   0.000000
tournament                           0  23921   0.000000
away_team_score                      0  23921   0.000000
home_team_score                      0  23921   0.000000
away_team_total_fifa_points          0  23921   0.000000
home_team_total_fifa_points          0  23921   0.000000
away_team_fifa_rank                  0  23921   0.000000
home_team_fifa_rank                  0  23921   0.000000
away_team_continent                  0  23921   0.000000
home_team_continent                  0  23921   0.000000
away_team                            0  23921   0.000000
city                                 0  23921   0.000000

In [106]:
df.describe()

,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
count,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,8379.000000,8095.000000,7787.000000,8510.000000,8162.000000,7564.000000,8312.000000,7979.000000
mean,77.854688,80.797375,323.401488,315.453576,1.609214,1.068266,74.963838,74.212477,74.903249,75.818743,75.889292,74.424379,75.420019,75.259143
std,52.355225,53.232902,500.825725,490.944273,1.630127,1.263944,8.212242,8.225919,6.003114,6.268416,6.053110,5.937425,6.201906,6.124573
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,47.000000,47.000000,52.800000,53.300000,54.200000,52.800000,53.300000,54.200000
25%,33.000000,36.000000,0.000000,0.000000,0.000000,0.000000,70.000000,69.000000,71.000000,71.700000,72.500000,70.500000,71.300000,71.800000
50%,71.000000,73.000000,0.000000,0.000000,1.000000,1.000000,75.000000,74.000000,75.200000,75.700000,76.200000,74.500000,75.300000,75.500000
75%,115.000000,119.000000,547.000000,523.000000,2.000000,2.000000,81.000000,80.000000,78.800000,80.000000,79.500000,78.200000,79.700000,79.000000
max,211.000000,211.000000,2164.000000,2164.000000,31.000000,21.000000,97.000000,97.000000,91.800000,93.000000,93.200000,91.800000,93.000000,93.200000

In [107]:
df.shape

(23921, 25)

In [108]:
df.dtypes

date                              object
home_team                         object
away_team                         object
home_team_continent               object
away_team_continent               object
home_team_fifa_rank                int64
away_team_fifa_rank                int64
home_team_total_fifa_points        int64
away_team_total_fifa_points        int64
home_team_score                    int64
away_team_score                    int64
tournament                        object
city                              object
country                           object
neutral_location                    bool
shoot_out                         object
home_team_result                  object
home_team_goalkeeper_score       float64
away_team_goalkeeper_score       float64
home_team_mean_defense_score     float64
home_team_mean_offense_score     float64
home_team_mean_midfield_score    float64
away_team_mean_defense_score     float64
away_team_mean_offense_score     float64
away_team_mean_midfield_score    float64
dtype: object

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  object
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  neutral_location               23921 non-null  bool
 15  shoot_out                      23921 non-null  object
 16  home_team_result               23921 non-null  object
 17  home_team_goalkeeper_score     8379 non-null   float64
 18  away_team_goalkeeper_score     8095 non-null   float64
 19  home_team_mean_defense_score   7787 non-null   float64
 20  home_team_mean_offense_score   8510 non-null   float64
 21  home_team_mean_midfield_score  8162 non-null   float64
 22  away_team_mean_defense_score   7564 non-null   float64
 23  away_team_mean_offense_score   8312 non-null   float64
 24  away_team_mean_midfield_score  7979 non-null   float64
dtypes: bool(1), float64(8), int64(6), object(10)
memory usage: 4.4+ MB

In [110]:
df.home_team_goalkeeper_score.unique()

array([nan, 93., 94., 83., 75., 82., 77., 73., 85., 90., 78., 91., 97.,
       63., 68., 84., 53., 74., 71., 89., 65., 66., 81., 49., 62., 72.,
       79., 64., 70., 80., 86., 88., 59., 76., 51., 87., 95., 69., 67.,
       61., 92., 52., 47., 54., 50., 55., 58., 60., 48., 56., 57.])

In [111]:
df.home_team_continent.unique()

array(['South America', 'Africa', 'Europe', 'Oceania', 'Asia',
       'North America'], dtype=object)

In [112]:
df.columns

Index(['date', 'home_team', 'away_team', 'home_team_continent',
       'away_team_continent', 'home_team_fifa_rank', 'away_team_fifa_rank',
       'home_team_total_fifa_points', 'away_team_total_fifa_points',
       'home_team_score', 'away_team_score', 'tournament', 'city', 'country',
       'neutral_location', 'shoot_out', 'home_team_result',
       'home_team_goalkeeper_score', 'away_team_goalkeeper_score',
       'home_team_mean_defense_score', 'home_team_mean_offense_score',
       'home_team_mean_midfield_score', 'away_team_mean_defense_score',
       'away_team_mean_offense_score', 'away_team_mean_midfield_score'],
      dtype='object')

In [115]:
lista_columnas_nulos

['away_team_mean_defense_score',
 'home_team_mean_defense_score',
 'away_team_mean_midfield_score',
 'away_team_goalkeeper_score',
 'home_team_mean_midfield_score',
 'away_team_mean_offense_score',
 'home_team_goalkeeper_score',
 'home_team_mean_offense_score']

In [116]:
df.away_team_mean_defense_score.unique()

array([ nan, 80.2, 82.8, 90.5, 71.5, 63. , 71.8, 70.5, 79.2, 86.8, 79.5,
       67.5, 78. , 87. , 71.2, 69. , 80.8, 75. , 81.2, 69.5, 58.5, 60.8,
       64.5, 78.2, 77.5, 77. , 86.5, 69.2, 88. , 89. , 68.8, 91.8, 81. ,
       80.5, 76. , 75.8, 52.8, 75.5, 58.8, 74.5, 87.5, 85. , 74.2, 73.2,
       75.2, 76.2, 72.2, 77.2, 84. , 82.5, 65. , 74.8, 82.2, 90.2, 86.2,
       80. , 79. , 89.5, 76.5, 77.8, 70.2, 72.8, 65.5, 78.8, 66.8, 78.5,
       70. , 85.5, 74. , 59.5, 66.2, 72. , 66. , 73.5, 57.5, 67. , 61.5,
       83.8, 86. , 76.8, 65.8, 67.8, 73.8, 62.8, 63.8, 87.8, 85.2, 71. ,
       69.8, 63.2, 84.5, 68.2, 65.2, 67.2, 70.8, 72.5, 62.2, 83.2, 68.5,
       79.8, 68. , 64.2, 61.8, 84.8, 73. , 60.5, 82. , 64.8, 60. , 66.5,
       81.8, 63.5, 56.5, 83. , 62.5, 85.8, 64. , 58.2, 83.5, 81.5, 59.2,
       59. , 61. , 57.8, 87.2, 62. , 84.2, 61.2])